        /*Composants communs*/
        
        center {
            text-align: center;
        }
        
        #app {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: black;
            font-family: 'Lora', serif;
        }
        
        nav .navbar-nav li a {
            font-family: Trebuchet MS;
            color: black !important;
            float: left;
            font-size: 14px;
            text-align: center;
            display: flex;
        }
        
        .navbar-nav li.active>a {
            color: #d1b9ab !important;
        }
        
        .navbar-bottom {
            height: 20px;
        }
        
        .navbar-toggler {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(209, 185, 171, 1)' stroke-linecap='round'  d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
        
        @media (min-width: 1000px) {
            .navbar-center {
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translatex(-50%);
            }
        }
        
        .navbar-footer-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }
        
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
        }
        
        h1 {
            font-size: 100px;
        }
        
        .navbar-foot {
            background-color: #f5efeb;
            font-family: Trebuchet MS;
            color: black !important;
            float: left;
            font-size: 14px;
            text-align: center;
            display: flex;
        }
        /*
HomePage
*/
        
        #home {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: black;
            font-family: 'Lora', serif;
        }
        
        .container {
            width: 1400px;
            height: 550px;
            background: #f5efeb;
            @media (min-width: 1000px) {
                position: absolute;
                left: 30%;
            }
        }
        
        #home-img {
            display: inline-block;
        }
        
        .table-striped>tbody>tr:nth-child(2n+1)>td,
        .table-striped>tbody>tr:nth-child(2n+1)>th {
            background-color: #f5efeb;
        }
        
        button.page-link {
            display: inline-block;
        }
        
        button.page-link {
            color: black;
            font-family: 'Lora', serif;
        }
        
        .offset {
            width: 500px !important;
            margin: 10px auto;
        }